<% if (user) { %>
    Hi, <%= user.username %>
<% } %>

<a href="/">Home</a>
<% if (user) { %>
    <a href="/changePassword">Change Password</a>
    <a href="/signout">Signout</a>
<% } else { %>
    <a href="/login">Login</a>
    <a href="/register">Register</a>
<% } %>