<html>
	<head>
		<title>Change Password</title>
	</head>
	<body>
		<%- include('../partial/header', {user: user}) %>
		<%= message %>
		<h1>Change Password</h1>
    <form action="/login" method="post">
      <input type="password" placeholder="Old Password" name="user[oldPassword]"><br>
      <input type="password" placeholder="New Password" name="user[newPassword]"><br>
      <input type="password" placeholder="Repeat New Password" name="user[repeatPassword]"><br>
			<input type="submit" value="Login" name="submit"><br>
		</form>
	</body>
</html>